* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar li:hover {
    font-weight: bold;
}

footer {
    color: green;
    text-decoration: underline;
    letter-spacing: 2px;
}
